<section class="ui raised segment">
  <div class="ui right aligned grid">
    <div class="left floated left aligned three wide column">
      <div class="left aligned nine wide column">
        <h3 class="ui dividing header">New User</h3>
      </div>
    </div>
    <div class="right floated right aligned three wide column">
      <form id = "createUser" action="/accounts/create" method="post">
        <button class="ui button" type="submit" id="createUserButton">create user</button>
      </form>
    </div>
  </div>
  <section class="ui raised segment">
    <div class="ui grid">
      <div class="ui ten wide column">
        <div class="ui stacked fluid form segment">
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input form="createUser" placeholder="First Name" type="text" name="firstName">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input form="createUser" placeholder="Last Name" type="text" name="lastName">
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <input form="createUser" placeholder="Email" type="text" name="email">
          </div>
          <div class="field">
            <label>Password</label>
            <input form="createUser" type="password" name="password">
          </div>
          {{> formerror }}
        </div>
      </div>
    </div>
  </section>




  <div class="ui right aligned grid">
    <div class="left aligned nine wide column">
      <h3 class="ui dividing header">Delete User</h3>
    </div>
    <div class="right floated left aligned three wide column">
      <form id = "deleteSubset" action="/accounts/delete" method="post">
        <button class="ui button" type="submit" id="removeSelected">remove selected</button>
      </form>
    </div>
  </div>

  <div class="ui horizontal segments">

    <div class="ui segment">
      <div class="ui very relaxed list">
      {{#each user}}
        <div class="item">
          <img class="ui avatar image" src="{{ image }}">
          <div class="content">
            <a class="header">{{ firstName }} {{ lastName }}</a>
            <div class="description">{{ following.length }} Following</div>
          </div>
        </div>
        <div class="ui checkbox">
          <input form="deleteSubset" class="right floated" type="checkbox" name="user" value="{{ _id }}">
          <label></label>
        </div>
      {{/each}}
    </div>
  </div>
</section>