<div class="ui container">
  <div class="ui two column padded stacked stackable grid segment">
    <div class="nine wide column" style="overflow: auto;  height: 600px; max-width: 650px; width: 100%;">
      <div class="ui threaded comments" >
        <div class="ui container">
          <div class="ui right aligned grid">
            <div class="right floated left aligned three wide column">
              <form action="/tweets/deleteAll" method="post">
                <button class="ui button" type="submit" id="removeAll">remove all</button>
              </form>
            </div>
            <div class="right floated left aligned three wide column">
              <form id = "deleteSubset" action="/tweets/delete" method="post">
                <button class="ui button" type="submit" id="removeSelected">remove selected</button>
              </form>

            </div>
          </div>
        </div>
        <div id="userHistory">
          {{#each tweets}}
            <div class="comment" >
              <a class="avatar" href="#">
                <img src="{{ creator.image }}">
              </a>
              <div class="content">
                <a class="author"> {{creator.firstName}} {{creator.lastName}} </a>
                <div class="metadata">
                  <span class="date">{{dateString}} </span>
                </div>
                <div class="text">
                  {{text}}
                </div>
                <div class="actions">
                  <div class="ui container">
                    <div class="ui grid">
                      <div class="left aligned eight wide column">
                        <button class="ui button blue mini" type="button" id="{{ image }}" value="{{ _id }}">attached picture</button>
                      </div>
                      <div class="right floated left aligned eight wide column">
                        <div class="ui checkbox">
                          <input form="deleteSubset" class="right floated" type="checkbox" name="tweet" value="{{ _id }}">
                          <label></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="{{ _id }}-modal" class="ui modal">
                  <i class="close icon"></i>
                  <div class="header">
                    Picture
                  </div>
                  <div class="image content">
                    <div class="ui medium image">
                      <img src="{{ image }}">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function deleteTweet(id){
    var action_src = "/tweets/delete/" + id;
    console.log(action_src);
    var your_form = document.getElementById('deleteForm' + id);
    your_form.action = action_src ;
  }

  $(document).ready(function(){
    $(':button').click(function(){
      var id = $(this).attr("value");
      var modal = '#' + id + '-modal';
      $(modal).modal('show');
    });
    $("button[id=''], button:not([id])").hide();
  });


</script>