<div class="ui container">
  <div class="ui two column padded stacked stackable grid segment">
    <div class="nine wide column" style="overflow: auto;  height: 600px; max-width: 650px; width: 100%;">
      <div class="ui threaded comments" >
        <h3 class="ui dividing header">Your recent History</h3>
        <div id="userHistory">

          {{#each tweets}}
            <div class="comment" >
              <a class="avatar">
                <img src="/images/avatar_placeholder.png">
              </a>
              <div class="content">
                <a class="author"> {{creator.firstName}} {{creator.lastName}} </a>
                <div class="metadata">
                  <span class="date">{{dateString}} </span>
                </div>
                <div class="text">
                  {{text}}
                </div>



                <div class="actions">
                  <form id = "deleteForm{{ _id }}" onsubmit="deleteTweet('{{ _id }}')" method="post">
                    <input type="hidden" name="id{{ _id }}" value="{{ _id }}">
                    <button type="submit">delete</button>
                  </form>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="right floated left aligned six wide column" style="height:300px;">
      <h3 class="ui dividing header">Top contributors</h3>
    </div>
  </div>
</div>

<script>
  function deleteTweet(id){
    var action_src = "/tweets/delete/" + id;
    console.log(action_src);
    var your_form = document.getElementById('deleteForm' + id);
    your_form.action = action_src ;
  }
</script>