{{> mainmenu _id="settings" }}

<section class="ui raised segment">
  <div class="ui grid">
    <div class="ui ten wide column">
      <div class="ui stacked fluid form segment">
        <form action="/settings" method="POST">
          <h3 class="ui header">Register</h3>
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input value="{{user.firstName}}" type="text" name="firstName">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input value="{{user.lastName}}" type="text" name="lastName">
            </div>
          </div>
          <div class="field">
            <label>Email</label>
            <input value="{{user.email}}" type="text" name="email">
          </div>
          <div class="field">
            <label>Password</label>
            <input value="{{user.password}}" type="password" name="password">
          </div>
          <button class="ui blue submit button">Save</button>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="ui five wide column">
      <img src="{{ user.image }}" class="ui medium image">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="two fields">
          <div class="field">
            <label>change picture</label>
            <input type="file" name="file">  </input>
          </div>
        </div>
        <button class="ui mini blue submit button"> Upload </button>
      </form>
    </aside>
  </div>
</section>


<!--<section class="ui segment">-->
  <!--<h1 class="ui header">-->
    <!--Welcome {{user.firstName}} {{user.lastName}}-->
  <!--</h1>-->

  <!--<section class="ui raised segment">-->
    <!--<h1 class="ui header">-->
      <!--Your Pictures:-->
    <!--</h1>-->
  <!--</section>-->

  <!--<section class="ui raised segment">-->
    <!--<div class="ui small dividing header"> Picture Upload </div>-->
    <!--<section class="ui raised form segment">-->

    <!--</section>-->
  <!--</section>-->
<!--</section>-->