
{{#mainMenu adminuser}}
  {{> mainmenu _id="userlist" }}
{{else}}
  {{> adminmenu _id="userlist" }}
{{/mainMenu}}

  <section class="ui raised segment">
    <div class="ui horizontal segments">
      <div class="ui segment">
        {{#each user1}}
          <div class="ui card">
            <div class="image">
              <img src="{{ image }}">
            </div>
            <div class="content">
              <a class="header">{{ firstName }} {{ lastName }}</a>
              <!--<div class="meta">-->
              <!--<span class="date">Joined in 2013</span>-->
              <!--</div>-->
              <!--<div class="description">-->
              <!--Kristy is an art director living in New York.-->
              <!--</div>-->
            </div>
            <div class="ui grid extra content">
              <div class="four wide column">
                <a >
                  <i class="user icon"></i>
                  {{ following.length }} Following
                </a>
              </div>
              <div class="four wide column">
                <a class= "item" href="/home/{{ _id }}"> Timeline</a>
              </div>
              <div class="four wide column">
                <a class= "item" href="/follow/{{ _id }}"> Follow</a>
              </div>

            </div>
          </div>
        {{/each}}
      </div>
      <div class="ui segment">
        {{#each user2}}
          <div class="ui card">
            <div class="image">
              <img src="{{ image }}">
            </div>
            <div class="content">
              <a class="header">{{ firstName }} {{ lastName }}</a>
              <!--<div class="meta">-->
              <!--<span class="date">Joined in 2013</span>-->
              <!--</div>-->
              <!--<div class="description">-->
              <!--Kristy is an art director living in New York.-->
              <!--</div>-->
            </div>
            <div class="ui grid extra content">
              <div class="six wide column">
                <a >
                  <i class="user icon"></i>
                  {{ following.length }} Following
                </a>
              </div>
              <div class="four wide column">
                <a class= "item" href="/home/{{ _id }}"> Timeline</a>
              </div>
              <div class="four wide column">
                <a class= "item" href="/follow/{{ _id }}"> Follow</a>
              </div>

            </div>
          </div>
        {{/each}}
      </div>
    </div>



  </section>
